Checks:          'clang-diagnostic-*,clang-analyzer-*,misc-include-cleaner'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:
  - key:             misc-include-cleaner.MissingIncludes
    value:           false
  - key:             misc-include-cleaner.UnusedIncludes
    value:           true
