name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  lint-and-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # - name: Check Formatting
      #   uses: DoozyX/clang-format-lint-action@v0.16
      #   with:
      #     source: '.'
      #     extensions: 'hpp,h,cpp,cc,cxx'
      #     clangFormatVersion: 17
      #     style: file

      - name: Configure
        run: cmake -B build -G Ninja -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Build
        run: cmake --build build

      - name: Run clang-tidy
        run: |
           find src tests -name "*.h" | xargs clang-tidy -p build -checks='clang-diagnostic-*,clang-analyzer-*,misc-include-cleaner-unused-includes' -warnings-as-errors='*' -header-filter='.*'
          #  find src tests -name "*.cpp" | xargs clang-tidy -p build -checks='clang-diagnostic-*,clang-analyzer-*,misc-include-cleaner' -warnings-as-errors='*' -header-filter='.*'
